.MainDiv2 {
    position: relative;
    width: 100%;
    height: 3100px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, rgba(248, 248, 248, 0.2) 100%), linear-gradient(180deg, #000000 0%, #FFFFFF 100%), linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, rgba(237, 228, 228, 0) 100%), linear-gradient(180deg, #000000 0%, #FFFFFF 100%);
}

.headerBox {
    position: absolute;
    width: 1825px;
    height: 143px;
    left: 43px;
    top: 25px;
    background: linear-gradient(180deg, #000000 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(180deg, #F8F8F8 0%, #000000 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.mainHeading {
    position: absolute;
    left: 555px;
    top: 50px;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 35px;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.linkHome {
    position: absolute;
    width: 43px;
    height: 18px;
    left: 620px;
    top: 100px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #FFFFFF;

}

.linkAbout {
    position: absolute;
    width: 68px;
    height: 18px;
    left: 890px;
    top: 100px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #FFFFFF;
}

.linkBook {
    position: absolute;
    width: 42px;
    height: 18px;
    left: 1170px;
    top: 100px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #FFFFFF;

}

.place {
    position: absolute;
    left: 880px;
    top: 200px;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 35px;
    color: white;
}

.click {
    position: absolute;
    left: 59px;
    top: 200px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #360E0E;
}

.picture11 {
    position: absolute;
    width: 517px;
    height: 309px;
    left: 43px;
    top: 286px;
}

.picture22 {
    position: absolute;
    width: 517px;
    height: 309px;
    left: 695px;
    top: 286px;
}

.picture33 {
    position: absolute;
    width: 517px;
    height: 309px;
    left: 1343px;
    top: 286px;
}

.place2 {
    Position: absolute;
    left: 880px;
    top: 706px;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 35px;
    color: white;
}

.picture44 {
    position: absolute;
    width: 517px;
    height: 309px;
    left: 43px;
    top: 773px;
}

.picture55 {
    position: absolute;
    width: 517px;
    height: 309px;
    left: 695px;
    top: 773px;
}

.picture66 {
    position: absolute;
    width: 526px;
    height: 309px;
    left: 1343px;
    top: 773px;
}

.place3 {
    position: absolute;
    width: 111px;
    height: 35px;
    left: 880px;
    top: 1191px;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 35px;
    color:  white;
}

.picture77 {
    position: absolute;
    width: 517px;
    height: 309px;
    left: 43px;
    top: 1273px;
}

.picture88 {
    position: absolute;
    width: 517px;
    height: 309px;
    left: 695px;
    top: 1273px;
}

.picture99 {
    position: absolute;
    width: 526px;
    height: 309px;
    left: 1343px;
    top: 1273px;
}

.place4 {
    position: absolute;
    width: 171px;
    height: 26px;
    left: 880px;
    top: 1688px;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 35px;
    color:  white;
}

.picture777 {
    position: absolute;
    width: 518px;
    height: 309px;
    left: 43px;
    top: 1773px;
}

.picture888 {
    position: absolute;
    width: 517px;
    height: 309px;
    left: 695px;
    top: 1773px;
}

.picture999 {
    position: absolute;
    width: 526px;
    height: 309px;
    left: 1343px;
    top: 1773px;
}

.place5 {
    position: absolute;
    width: 140px;
    height: 35px;
    left: 880px;
    top: 2190px;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 35px;
    color:  white;
}

.picture444 {
    position: absolute;
    width: 518px;
    height: 309px;
    left: 43px;
    top: 2273px;
}

.picture555 {
    position: absolute;
    width: 517px;
    height: 309px;
    left: 695px;
    top: 2273px;
}

.picture666 {
    position: absolute;
    width: 526px;
    height: 309px;
    left: 1343px;
    top: 2273px;
}

.preview {
    box-sizing: border-box;
    position: absolute;
    width: 1800px;
    height: 270px;
    left: 50px;
    top: 2700px;
    background: linear-gradient(180deg, #000000 0%, rgba(255, 255, 255, 0) 100%);
    border: 1px solid #000000;
    border-radius: 20px 0px;
    border-radius: 20px 0px;
}

.Ph {

    text-align: center;
    top: 1500px;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 44px;
    color:  white;
}
.Dec1{
    position: absolute;
    width: 517px;
    height: 107px;
    left: 43px;
    top: 590px;
    background: linear-gradient(180deg, #030303 0%, rgba(255, 255, 255, 0) 100%);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.Dec2{
    position: absolute;
    width: 517px;
    height: 107px;
    left: 695px;
    top: 592px;
    background: linear-gradient(180deg, #030303 0%, rgba(255, 255, 255, 0) 100%);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25))
}
.Dec3{
    position: absolute;
    width: 517px;
    height: 107px;
    left: 1343px;
    top: 592px;
    background: linear-gradient(180deg, #030303 0%, rgba(255, 255, 255, 0) 100%);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25))
}
.Dec4{
    position: absolute;
    width: 517px;
    height: 107px;
    left: 43px;
    top: 1080px;
    background: linear-gradient(180deg, #030303 0%, rgba(255, 255, 255, 0) 100%);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.Dec5{
    position: absolute;
    width: 517px;
    height: 107px;
    left: 695px;
    top: 1080px;
    background: linear-gradient(180deg, #030303 0%, rgba(255, 255, 255, 0) 100%);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25))
}
.Dec6{
    position: absolute;
    width: 526px;
    height: 107px;
    left: 1343px;
    top: 1080px;
    background: linear-gradient(180deg, #030303 0%, rgba(255, 255, 255, 0) 100%);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25))
}
.Dec7{
    position: absolute;
    width: 517px;
    height: 107px;
    left: 43px;
    top: 1581px;
    background: linear-gradient(180deg, #030303 0%, rgba(255, 255, 255, 0) 100%);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.Dec8{
    position: absolute;
    width: 517px;
    height: 107px;
    left: 695px;
    top: 1581px;
    background: linear-gradient(180deg, #030303 0%, rgba(255, 255, 255, 0) 100%);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25))
}
.Dec9{
    position: absolute;
    width: 526px;
    height: 107px;
    left: 1343px;
    top: 1581px;
    background: linear-gradient(180deg, #030303 0%, rgba(255, 255, 255, 0) 100%);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25))
}
.Dec22{
    position: absolute;
    width: 518px;
    height: 107px;
    left: 43px;
    top: 2082px;
    background: linear-gradient(180deg, #030303 0%, rgba(255, 255, 255, 0) 100%);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.Dec33{
    position: absolute;
    width: 517px;
    height: 107px;
    left: 695px;
    top: 2082px;
    background: linear-gradient(180deg, #030303 0%, rgba(255, 255, 255, 0) 100%);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25))
}
.Dec44{
    position: absolute;
    width: 526px;
    height: 107px;
    left: 1343px;
    top: 2082px;
    background: linear-gradient(180deg, #030303 0%, rgba(255, 255, 255, 0) 100%);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25))
}
.Dec55{
    position: absolute;
    width: 518px;
    height: 107px;
    left: 43px;
    top: 2581px;
    background: linear-gradient(180deg, #030303 0%, rgba(255, 255, 255, 0) 100%);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.Dec66{
    position: absolute;
    width: 517px;
    height: 107px;
    left: 695px;
    top: 2581px;
    background: linear-gradient(180deg, #030303 0%, rgba(255, 255, 255, 0) 100%);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25))
}
.Dec77{
    position: absolute;
    width: 526px;
    height: 107px;
    left: 1343px;
    top: 2581px;
    background: linear-gradient(180deg, #030303 0%, rgba(255, 255, 255, 0) 100%);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25))
}